@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfP04WouvTo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    font-family: 'Barlow', 'CooperHewittThin', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

div {
    margin-top: 30px;
    padding: 10px;
}
.weather-app-body {
    width: 350px;
    height: 500px;
    border-radius: 15px;
    background: rgb(0,181,226)
}

.weather-icon {
    display: flex;
    justify-content: center;
}

.country {
    font-size: 32px;
}

.temperature {
    font-size: 38px;
    font-weight: bold;
}

.weather, .date {
    font-size: 26px;
}

.temp-weather {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 30px;
}

img {
    width: 200px;
    height: 200px;
}

