@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfP04WouvTo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
    font-family: 'Barlow', 'CooperHewittThin', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;}

div {
    padding: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar {
    background: var(--color-base-bg);
    border-radius: 45px;
    width: 40%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: stretch;
    align-items: center;
    align-content: center;
}

.title {
    font-size: 2.3em;
}

.search-container {
    position: relative;
}

.loupe {
    width: 40%;
    height: 40%;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: -50px;
}

input[type = "text"] {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 25px;
}

.nav-bar-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

.weather-app-body {
    margin-top: 50px;
    width: 450px;
    height: 480px;
    border-radius: 15px;
}

.weather-icon {
    display: flex;
    justify-content: center;
}

.dark-mode {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.country {
    font-size: 32px;
}

.temperature {
    font-size: 38px;
    font-weight: bold;
}

.weather, .date {
    font-size: 26px;
}

.temp-weather-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.sun, .cloud, .fog, .snow, .rain, .thunder, .error-icon{
    width: 200px;
    height: 200px;
}

.sun {
    fill: rgb(241, 241, 99);
}

.cloud {
    fill: rgb(141, 139, 139);
}

.fog {
    fill: rgba(117, 90, 90, 0.877);
}

.rain, .error-icon {
    fill: white;
}


.sun-course {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 20px;
}
.nav-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidenav-element-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--color-base-bg);
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 28px;
    color: pink;
    /* color: var(--color-div-text); */
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: var(--btn-on-hover);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
      left: 0;
    }
    
    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    
    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: rgb(174, 174, 235);
        margin: 6px 0;
  }
  